cluster.name: {{ elasticsearch_config.cluster_name }}
node.name: {{ elasticsearch_config.node_name }}
network.host: {{ elasticsearch_config.network_host }}
http.port: {{ elasticsearch_config.http_port }}
discovery.type: {{ elasticsearch_config.discovery_type }}

